<div class="container d-flex ">
  <div class="image-container d-flex flex-column">
    <img src="../../assets/images/ghost.png" alt="logo" width="200" height="50">
    <img src="../../assets/images/workspace.jpg" alt="workspace">
  </div>
  
  <div class="welcome-container d-flex flex-column">
    <h1 class="welcome-heading">Welcome Back :)</h1>
    <p class="welcome-description">To keep connected with us please login with your personal information by email address and password
      <font-awesome-icon icon="bell" />
    </p>

    <div class="welcome-input">
      <font-awesome-icon class="envelope" icon="envelope" />
      <input type="text" class="form-control welcome-email" placeholder="Email Address" aria-label="EmailAddress" />
  </div>

  <div class="welcome-input">
    <font-awesome-icon class="lock" icon="lock" />
    <input type="text" class="form-control welcome-password" placeholder="Password" aria-label="Password" />
  </div>

  <div class="welcome-buttons d-flex">
    <button type="button" class="btn login-btn px-4 py-2">Login Now</button>
    <button type="button" class="btn create-btn px-4 py-2">Create Account</button>
  </div>

  </div>
</div>